extends ../public-layout.jade

block content
  h1#sign-header.ui.icon.center.aligned.header
    i.lock.icon
    .content= t('account.password.reset')
  
  form.ui.form.segment(method='post')
    .field
      label= t('account.password.new')
      .ui.left.icon.input
        input(type="password", name="newPassword", autocomplete="off")
        i.lock.icon
    .field
      label= t('account.password.repeat')
      .ui.left.icon.input
        input(type="password", name="repeatPassword", autocomplete="off")
        i.lock.icon
    button.ui.blue.submit.button(type="submit")= t('account.password.reset')

block scripts
  script(type="text/javascript", src="/js/password/new.js")