extends ../layout.jade

block content
  h1= t("email.emailVerification.hiUser", { username: username })
  p= t("email.emailVerification.welcometToSite", { siteName: 'SiteGate' })
  a(href=confirmationUrl)= t("email.emailVerification.confirmEmail")