extends ../settings-layout.jade

block settingsContent
  h1(class="ui header")= t('settings.addLoginUsingService')
  a(class="ui facebook button", href="/auth/facebook")
    i(class="facebook icon")
    != t('social.facebook')
  a(class="ui twitter button", href="/auth/twitter")
    i(class="twitter icon")
    != t('social.twitter')
  a(class="ui google plus button", href="/auth/google")
    i(class="google plus icon")
    != t('social.googlePlus')