extends ../settings-layout.jade

mixin socialConnection(provider, iconClass)
  - var connected = (user.provider == provider || (user.additionalProvidersData && user.additionalProvidersData[provider]));
  if connected
    a.fluid.big.ui.red.button(href="/auth/" + provider + "/disconnect")
      i(class=iconClass + " icon")
      | Disconnect 
      != t('social.' + provider)
  else
    a.fluid.big.ui.black.basic.button(href="/auth/" + provider)
        i(class=iconClass + " icon")
        | Connect 
        != t('social.' + provider)

block settingsContent
  .social.connections.container
    h1.ui.header= t('settings.addLoginUsingService')
    +socialConnection('facebook', 'facebook')
    +socialConnection('twitter', 'twitter')
    +socialConnection('google', 'google plus')
block styles
  link(rel="stylesheet", href="/dest/css/settings/accounts.css")