extends ../settings-layout.jade

block settingsContent
  div.social.connections.container
    h1(class="ui header")= t('settings.addLoginUsingService')
    a(class="fluid big ui black basic button", href="/auth/facebook")
      i(class="facebook square icon")
      != t('social.facebook')
    a(class="fluid big ui black basic button", href="/auth/twitter")
      i(class="twitter icon")
      != t('social.twitter')
    a(class="fluid big ui black basic button", href="/auth/google")
      i(class="google plus icon")
      != t('social.googlePlus')
block styles
  link(rel="stylesheet", href="/dest/css/settings/accounts.css")