extends ../settings-layout.jade

block settingsContent
  form.ui.segment.form(method="post")
    +messageBlock(messages)
    if hasPassword
      .field
        label= t('settings.currentPassword')
          .ui.left.icon.input
            input(type="password", name="currentPassword", autocomplete="off")
            i(class="lock icon")
    .field
      label= t('account.password.new')
      .ui.left.icon.input
        input(type="password", name="newPassword", autocomplete="off")
        i.lock.icon
    .field
      label= t('account.password.repeat')
      .ui.left.icon.input
        input(type="password", name="verifyPassword", autocomplete="off")
        i.lock.icon
    button.ui.primary.submit.button(type="submit")= t('common.saveChanges')
block scripts
  script(type="text/javascript", src="/js/settings/password.js")