mixin messageBlock(messages)
  if messages && messages.success && messages.success.length
    .ui.positive.message
      i.ui.info.circle.icon
      != messages.success
  if messages && messages.error && messages.error.length
    .ui.negative.message
      i.ui.warning.sign.icon
      != messages.error

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    if title && title.length > 0
      title #{title} | #{appTitle}
    else
      title= appTitle
    link(type="text/plain", rel="author", href="/humans.txt")
    link(rel='stylesheet', href='//oss.maxcdn.com/semantic-ui/2.1.3/semantic.min.css')
    link(rel='stylesheet', href='/dist/css/style.css')
    block styles
  body
    block coreContent
    script(src='//oss.maxcdn.com/jquery/2.1.4/jquery.min.js')
    script(src='//oss.maxcdn.com/semantic-ui/2.1.3/semantic.min.js')
    script(src='/dist/js/shared/validation-config.js')
    block scripts
