mixin messageBlock(messages)
  if messages && messages.success && messages.success.length
    .ui.positive.message
      i.ui.info.circle.icon
      != messages.success
  if messages && messages.error && messages.error.length
    .ui.negative.message
      i.ui.warning.sign.icon
      != messages.error

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title #{title} | #{appTitle}
    link(type="text/plain", rel="author", href="/humans.txt")
    link(rel='stylesheet', href='/dest/css/style.css')
    link(rel='stylesheet', href='/components/semantic-ui/dist/semantic.css')
    block styles
    script(src='http://localhost:35729/livereload.js')
  body
    .main.container
      block coreContent
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(type='text/javascript', src='/components/semantic-ui/dist/semantic.js')
    script(type='text/javascript', src='/components/i18next/i18next.min.js')
    script(src='/js/shared/validation-config.js')
    script(src='/js/shared/i18n-init.js')
    block scripts