extends ./layout.jade

block coreContent
  div(class="main container")
    div(class="ui menu")
      a(class="item", href=homepageUrl)
        i(class="home icon")
        != t("menu.home")
      a(class="item", href="/settings")
        i(class="settings icon")
        != t('settings.settings')
      a(class="item", href="/signout")
        i(class="sign out icon")
        != t('account.signOut')
    block content