extends ./layout.jade

block coreContent
  .ui.menu
    .main.container
      a.item(href=homepageUrl)
        i.home.icon
        != t('menu.home')
      a.item(class=url.indexOf('/settings') !== -1 ? 'active' : '', href="/settings")
        i.settings.icon
        != t('settings.settings')
      a.item(href="/signout")
        i.sign.out.icon
        != t('account.signOut')
  .main.container
    block content