extends ./private-layout.jade

mixin link(targetUrl, text)
  a.item(class=(url == targetUrl ? 'active' : ''), href=targetUrl)= text

block content
  .ui.grid
    .four.wide.column
      .ui.vertical.fluid.menu
        +link('/settings/profile', t('account.account'))
        +link('/settings/accounts', t('account.socialAccounts'))
        +link('/settings/password', t('account.password.password'))
        +link('/settings/applications', t('app.apps'))
    .twelve.wide.column
      block settingsContent