extends ./private-layout.jade

block content
  div(class="ui grid")
    div(class="four wide column")
      div(class="ui vertical menu")
        a(class='item ' + (url == '/settings/profile' ? 'active' : ''), href="/settings/profile")= t('account.account')
        a(class='item ' + (url == '/settings/accounts' ? 'active' : ''), href="/settings/accounts")= t('account.socialAccounts')
        a(class='item ' + (url == '/settings/password' ? 'active' : ''), href="/settings/password")= t('account.password')
    div(class="ui twelve wide column segment")
      block settingsContent