a.fluid.ui.big.black.basic.button(href="/auth/facebook")
  i.facebook.icon
  != t('social.facebook')
a.fluid.ui.big.black.basic.button(href="/auth/twitter")
  i.twitter.icon
  != t('social.twitter')
a.fluid.ui.big.black.basic.button(href="/auth/google")
  i.google.plus.icon
  != t('social.google')